.container--introduction{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap:12rem;
    margin-top: 5%;
    max-width: 1810px;
    margin-bottom: 4rem;
}
.blog-nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 6em;
    padding-left: 5%;  
    padding-top: 1em;
    padding-bottom: 2%;
    padding-top: 2rem;
}
.container--description{
    text-align: right;
    padding-right: 10%;
    gap: 12rem;
}
.cont-description{
    max-width: 883px;
}
.introduction-image{
    border: 4px solid #83FCFC;
    border-radius: 50%;
    padding: 2%;
    align-self: flex-end;
}
.introduction-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 76px;
    align-items: center;
    text-align: right;
    color: #0F1E42;
}
.introduction-description{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    text-align: right;



    color: #0C4888;
}
.read-more{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding:2%; 
    gap: 10px;                              
    height: 70px;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    border-radius: 36px;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}
.section2--card{
    display: flex;
    gap: 2.4rem;
    margin-top:1rem !important;
    margin: 10% auto;
    max-width: 1170px;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 1.5rem;
    width: fit-content;
    background: #FEFFFF;
    box-shadow: 0px 9px 69px -5px rgba(49, 169, 220, 0.2);
    border-radius: 53px;
}
.the-card-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 55px;
    max-width: 432px;
    align-items: center;
    text-align: right;
    color: #0C4888;
    
}
.the-card-description{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    color: #0C4888;
    max-width: 432px;
    
}
.card--social-media{
    display: flex;
}
.learn-more--btn{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 109px;
    display: flex;
    align-items: center;
    text-align: right;    
    color: #FFFFFF;
    align-items: center;
    padding: 10px 10px 10px 10px;
    max-width: 179px;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    border-radius: 36px;
    border: none;
}
.card--social-media{
    display: flex;
    gap: 1rem;
}
.card-footer{
    max-width: 432px;
    gap: 9rem;
    display: flex;
}