@media  screen and (max-width:1820px) {
    .the-container--1{
        margin-right: -10rem
    }
    .some-hint{
        padding-right: 20px;
        margin: 3rem;
    }
    .big-image{
        margin-left: -5rem;
        margin-right: 17%;
    }
    .how-to-create-acc{
        justify-content: flex-start;
        margin:0;
        margin-bottom: 6%;
        margin-top: 5%;
    
        }
        .acc-description{
            margin-right: 3%;
        }
        .acc-description{
        margin-right: 11%;
        }
        .screen{
        margin-left: 6%;
        }
        .steps{
            row-gap: 0px;
            column-gap: 5rem;;
        }
        .logo{
        margin-right: -7rem;
    }
}
@media  screen and (max-width:1580px) {
    .new-nav{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu--btns{
        display: none;
    }
    .container--nav{
        background-image: url("images/back1.svg");
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        height:1082px;
        margin-top: 0%;
        flex: none;
        display: grid;
        grid-template-rows: 60% 1fr;
        margin-top: -12%;

    }
    .paper-plane{
        display: none
    }
    .subscribe-now{
        display: none;
    }
    .big-image{ 
        margin: -2% 17% auto;
        transform: scale(0.8);
    }
    .some-hint{
        padding-top: 0rem;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .sentence1--nav{
        font-size: 25px;
        
    }
    .sentence2--nav{
        font-size: 3rem;
    }
    .icon{
        align-self: center;
        margin-bottom: 0%;
    }

    .nav-price{
        font-size: 1.8rem;
    }
    .star{
        display: none;    
    }
    .container--help{
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        width: fit-content;
        height: fit-content;
        row-gap: 4rem;
        column-gap: 1rem;
    }.main--help-icon{
        align-self: center;
        margin-bottom: -1rem;
        transform: scale(1.1);
        position: relative;
    }
    .help--1{
        height: 280px;
    }
    .minasa{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .the-container--1{
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .how-to-create-acc{
        gap:0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-background{
        display: none;
    }
    .header--new-background{
        display: block;
    }
    .screen{
        transform: scale(0.8);
    }
    .acc-description{
        margin-right: 0px;
    }
    .teachers{
        text-align: center;
    }
    .presentation{
        text-align: center;
    }
    .section4--teacher{
        align-self: center;
    }
}
@media screen  and (max-width:1344px) {
    .be-ready{
        font-size: 47px;
    }
}
@media screen  and (max-width:1300px) {
    .be-ready{
        font-size: 43px;
    }
}
@media screen  and (max-width:1344px) {
    .be-ready{
        font-size: 47px;
    }
}
@media screen  and (max-width:1200px) {
    .be-ready{
        font-size: 25px;
    }
}
@media screen  and (max-width:1050px) {
    .be-ready{
        font-size: 20px;
    }
}
@media screen  and (max-width:1300px) {
    .enroll-now{
        font-size: 28px;
        width:29% ;
        height:29% ;
    }
}
@media screen  and (max-width:1090px) {
    .section2--img{
        margin-top: 9.375rem;
    }
    
}